# Default ignored files
/../../../../../architectures_distribuées/SOAP/SOAP_projet/math-service-client/.idea/shelf/
/../../../../../architectures_distribuées/SOAP/SOAP_projet/math-service-client/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../architectures_distribuées/SOAP/SOAP_projet/math-service-client/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../architectures_distribuées/SOAP/SOAP_projet/math-service-client/.idea/dataSources/
/../../../../../architectures_distribuées/SOAP/SOAP_projet/math-service-client/.idea/dataSources.local.xml
